<!-- SPDX-License-Identifier:  Apache-2.0
  -- Copyright 2022 Jorengarenar
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TGFW</title>

  <link rel="shortcut icon" href="/Front/Framework/favicon.ico" type="image/x-icon">
  <link rel="stylesheet/less" type="text/css" href="/Front/Framework/styles.less">
  <script src="/Front/Framework/script.js"></script>

  <link rel="stylesheet/less" type="text/css" href="styles.less">
  <script src="script.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
</head>
<body>
  <main id="TGFW"></main>
</body>
</html>
